.sign-in {
	width: 30vw;
	max-width: 450px;
	min-width: 380px;
	display: flex;
	flex-direction: column;

	.title {
		margin: 10px 0;
	}
}
.buttons {
	display: flex;
	justify-content: space-between;
}
